@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-weight: 100;
}

h1 {
	font-size: 30pt;
}

.centered {
	text-align: center;
}

.right-aligned {
	text-align: right;
}

/*
 * SIDEBAR
 */
body > aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;
	background-color: #fafafa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body > aside > header {
	font-size: 30pt;
	padding: 0.3em;
	border-bottom: 1px solid #dedede;
}

body > aside > header .logo {
	width: 80px;
	height: auto;
	vertical-align: middle;
}

body > aside > header h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: 100;
}

body > aside section {
	padding: 0.5em 2em;
}

body > aside section:first-of-type {
	padding-top: 1.5em;
}

body > aside section header {
	font-weight: 300;
	border-bottom: 1px solid #dedede;
	padding: 0.5em 0;
}

body > aside section header img {
	width: 24px;
	height: auto;
	margin-right: 0.5em;
	vertical-align: middle;
}

body > aside section ul {
	list-style-type: none;
	padding: 0;
}

body > aside section ul li {
	margin: 0.5em 0;
}

body > aside section a {
	color: black;
	text-decoration: none;
}

body > aside section a:hover {
	text-decoration: underline;
}

/*
 * MAIN CONTENT
 */

body > main {
	position: absolute;
	top: 0;
	left: 320px;
	bottom: 0;
	right: 0;
	padding: 1em;
	box-sizing: border-box;
}

.content-wrapper {
	max-width: 800px;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table .actions {
	text-align: center;
}

table .actions a {
	opacity: 0.7;
	transition: opacity 250ms ease-in-out;
}

table .actions img {
	width: 20px;
	height: auto;
}

table tr:hover .actions a {
	opacity: 1;
}

th {
	background-color: #fafafa;
	font-weight: 300;
}

th, td {
	border: 1px solid #eaeaea;
	padding: 0.5em;
}

tr:nth-child(even) {
	background-color: #fcfcfc;
}

/*
 * Pagination
 */
 
.pagination > td {
	padding: 0;
	background-color: #fafafa;
	font-weight: 300;
}

.pagination table td {
	border-top: 0;
	border-bottom: 0;
}

.pagination table td:first-of-type {
	border-left: 0;
}

.pagination table td:last-of-type {
	border-right: 0;
}

.pagination .page-indicator {
	width: 100%;
	text-align: center;
}

.pagination a {
	display: block;
}

.pagination a[href="#"] {
	opacity: 0.5;
	cursor: pointer;
}

.pagination img {
	display: block;
	width: 24px;
	height: 24px;
}

/*
 * Forms
 */
form {
	
}

form .row {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
}

form .two-columns,
form .three-columns {
	overflow: auto;
}

form .two-columns .row {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

form .three-columns .row {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}

form input[type="number"],
form input[type="text"] {
	border: 0;
	border-bottom: 1px solid #dedede;
	background: transparent;
	padding: 0.5em;
}

form input.fill {
	width: 100%;
	box-sizing: border-box;
}

form .actions {
	text-align: right;
	margin-top: 1em;
}

form input[type="submit"] {
	display: inline-block;
	background-color: #3F51B5;
	color: white;
	padding: 1em 5em;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	font-weight: 300;
	cursor: pointer;
	transition: background-color 250ms ease-in-out;
}

form input[type="submit"]:hover {
	background-color: #5C6BC0;
}

form .has-unit {
	overflow: auto;
}

form .has-unit::after {
	float: right;
	top: 0;
	right: 0;
	content: attr(data-unit);
	font-weight: 300;
	opacity: 0.6;
	font-size: 0.9em;
}

form label {
	display: block;
	font-size: 0.9em;
	font-weight: 300;
	text-transform: uppercase;
	opacity: 0.7;
}

form date {
	display: block;
	padding: 0.5em 0;
}

/*
 * Message section
 */
section.message {
	padding: 1.5em;
	margin: 2em 0;
	color: white;
	background-color: #3F51B5;
}

section.message.Error {
	background-color: #E91E63;
}
 
section.message.Success {
	background-color: #8bc34a;
}

section.message .content {
	white-space: pre;
}