<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<!-- Resources not handled by servlet -->
	<servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>default</servlet-name>
    	<url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    
    <!-- Main servlet -->
    <servlet>
        <servlet-name>labplan</servlet-name>
        <servlet-class>com.labplan.webapp.LabPlanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>labplan</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>    
</web-app>