@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-weight: 100;
}

h1 {
	font-size: 30pt;
}

/*
 * SIDEBAR
 */
body > aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 320px;
	background-color: #fafafa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

body > aside header {
	font-size: 30pt;
	padding: 0.3em;
	border-bottom: 1px solid #dedede;
}

body > aside header .logo {
	width: 80px;
	height: auto;
	vertical-align: middle;
}

body > aside header h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: 100;
}

/*
 * MAIN CONTENT
 */

body > main {
	position: absolute;
	top: 0;
	left: 320px;
	bottom: 0;
	right: 0;
	padding: 1em;
	box-sizing: border-box;
}

.content-wrapper {
	max-width: 800px;
	margin: auto;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #fafafa;
	font-weight: 300;
}

th, td {
	border: 1px solid #eaeaea;
	padding: 0.5em;
}

/*
 * Pagination
 */
 
.pagination > td {
	padding: 0;
	background-color: #fafafa;
	font-weight: 300;
}

.pagination table td {
	border-top: 0;
	border-bottom: 0;
}

.pagination table td:first-of-type {
	border-left: 0;
}

.pagination table td:last-of-type {
	border-right: 0;
}

.pagination .page-indicator {
	width: 100%;
	text-align: center;
}

.pagination a {
	display: block;
}

.pagination img {
	display: block;
	width: 24px;
	height: 24px;
}