/*
 * Generic styling
 */
#own-dropdown--container {
	display: none;
	position: absolute;
	width: 200px;
	height: 300px;
	overflow: hidden;
}

#own-dropdown--search {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2.5em;
	z-index: 2;
}

#own-dropdown--search input {
	background: transparent;
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
}

#own-dropdown--options {
	position: absolute;
	top: 2.5em;
	left: 0;
	right: 0;
	bottom: 0;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	z-index: 1;
}

#own-dropdown--options li {
	
}

#own-dropdown--options a {
	 display: block;
	 padding: 0.75em;
	 color: inherit;
	 text-decoration: none;
}

/*
 * LabPlan UI specific styling
 */
.own-dropdown {
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 0.3em 0.5em;
}
 
#own-dropdown--container {
	background-color: #fafafa;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#own-dropdown--search {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);	
	background-color: #fefefe;
}

#own-dropdown--options a:focus,
#own-dropdown--options a:hover {
	color: white;
	outline: 0;
}

#own-dropdown--options a:hover {
	background-color: rgba(92, 107, 192, 0.8);
}

#own-dropdown--options a:focus {
	background-color: rgb(92, 107, 192);
}

#own-dropdown--options li.disabled {
	opacity: 0.5;
}